In [1]:
import pandas as pd

In [3]:
l=[3,4,5,6,7,8,9]
df=pd.DataFrame(l)#pd.DataFrame is used to create a dataframe
print(df)
type(df)

   0
0  3
1  4
2  5
3  6
4  7
5  8
6  9

pandas.core.frame.DataFrame

In [4]:
dic={'a':[1,2,3,4,5],"s":[5,6,7,8,9]}#the value in each column should be sme in DataFrame
df2=pd.DataFrame(dic)
print(df2)
type(df2)

   a  s
0  1  5
1  2  6
2  3  7
3  4  8
4  5  9

pandas.core.frame.DataFrame

In [5]:
df2['s']#we can view the values of any particular column also

0    5
1    6
2    7
3    8
4    9
Name: s, dtype: int64

In [11]:
df2[['a','s']]#we can use the list also toget the specific column values

   a  s
0  1  5
1  2  6
2  3  7
3  4  8
4  5  9

In [16]:
print(df2['a'][3])#we can get any partuclar row data of a particular column

4

In [17]:
l2=[[1,2,3,4,5],[6,7,8,9,10]]#can create through multiple list
df3=pd.DataFrame(l2)
print(df3)

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [19]:
s={"s":pd.Series([1,2,3,4,5]),"r":pd.Series([6,7,8,9,10])}
df4=pd.DataFrame(s)#can create through series also
print(df4)

   s   r
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10