In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("D:\\DATASETS\\hackerthontrain.csv")

In [4]:
df

     30  64   1  1.1
0    30  62   3    1
1    30  65   0    1
2    31  59   2    1
3    31  65   4    1
4    33  58  10    1
..   ..  ..  ..  ...
204  57  64   0    1
205  57  64   0    1
206  57  67   0    1
207  58  59   0    1
208  58  60   3    1

[209 rows x 4 columns]

In [5]:
df.columns=['independent1','independent2','independent3','dependent']

In [6]:
df.head()

   independent1  independent2  independent3  dependent
0            30            62             3          1
1            30            65             0          1
2            31            59             2          1
3            31            65             4          1
4            33            58            10          1

In [7]:
df2=pd.read_csv("D:\\DATASETS\\hackerthontest.csv")

In [8]:
df2.head()

   58  61   1
0  58  67   0
1  58  58   0
2  58  58   3
3  58  61   2
4  59  62  35

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df[['independent1','independent3','independent3']],df.dependent,test_size=0.2,random_state=56)

In [10]:
from sklearn.model_selection import GridSearchCV

In [11]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree

In [12]:
model_params = {
    'svm': {
        'model': SVC(gamma='auto'),
        'params': {
            'C': [1, 10, 20],
            'kernel': ['rbf', 'linear']
        }
    },
    'DecisionTreeClassifier': {
        'model': tree.DecisionTreeClassifier(),
        'params': {
            'criterion': ['gini', 'entropy'],
            'max_depth': [5, 10, 20],
            'min_samples_split': [2, 5, 10]
        }
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params': {
            'n_estimators': [10, 50, 100],
            'max_depth': [5, 10, None],
            'min_samples_split': [2, 5, 10]
        }
    }
}

In [13]:
scores = []

for model_name, mp in model_params.items():
    clf = GridSearchCV(mp['model'], mp['params'],
                       cv=5, return_train_score=False)
    clf.fit(x_train, y_train)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })

ndf = pd.DataFrame(scores)
ndf

,model,best_score,best_params
0,svm,0.718182,"{'C': 1, 'kernel': 'rbf'}"
1,DecisionTreeClassifier,0.723708,"{'criterion': 'gini', 'max_depth': 5, 'min_sam..."
2,random_forest,0.723886,"{'max_depth': None, 'min_samples_split': 10, '..."

In [14]:
df2.columns=['independent1','independent3','independent3']

In [15]:
df2.head()

   independent1  independent3  independent3
0            58            67             0
1            58            58             0
2            58            58             3
3            58            61             2
4            59            62            35

In [16]:
ndf2=df2.iloc[0:42]

In [17]:
len(ndf2)

42

In [18]:
model=RandomForestClassifier(max_depth=5,min_samples_split=2,n_estimators=10)
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.7857142857142857

In [19]:
model.predict(df2)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2,
       1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1], dtype=int64)